
.vs/MyProject.Web/FileContentIndex/1168d3c0-15a5-4a5d-8400-cdab8970442b.vsidx
.vs/MyProject.Web/FileContentIndex/43fc6dc5-ba30-48b0-a4aa-ea86bbb2ae7a.vsidx
.vs/MyProject.Web/FileContentIndex/7aa1633b-dd87-4460-a461-ce6275f52fd4.vsidx
.vs/MyProject.Web/FileContentIndex/b26179c7-9d1e-40fc-8565-5aab6a105d00.vsidx
.vs/MyProject.Web/FileContentIndex/cf1b4a44-8c29-4edb-8d55-d3647f98dc11.vsidx
.vs/MyProject.Web/v17/.suo
.vs/MyProject.Web/v17/.suo
MyProject.Web/obj/Debug/net8.0/MyProject.Web.assets.cache
MyProject.Web/obj/Debug/net8.0/MyProject.Web.csproj.AssemblyReference.cache
MyWebsite.Utils/obj/Debug/net8.0/MyWebsite.Utils.AssemblyInfo.cs
MyWebsite.Utils/obj/Debug/net8.0/MyWebsite.Utils.AssemblyInfoInputs.cache
.vs/
